/* css for forms */

.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.p-form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}


.form-control {
  margin-bottom: 15px;
}

.form-control label {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-control input[type="text"],
.form-control input[type="password"] {
  display: block;
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  transition: border-color 0.3s ease-in-out;
}

.form-control input[type="text"]:focus,
.form-control input[type="password"]:focus {
  outline: none;
  border-color: navy;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: navy;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #03c53a;
}

.btn:active {
  background-color: #03c53a;
}

#phone{

  display: block;
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  transition: border-color 0.3s ease-in-out;
}

#phone:focus{

  outline: none;
  border-color: navy;
  text-decoration: none;
}
